.container {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.imageContainer {
  flex: 1;
  height: 350px;
  position: relative;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.image {
  object-fit: cover;
  border-radius: 10px;
}

.date {
  color: gray;
}
.category {
  color: crimson;
  font-weight: 500;
}

.desc {
  font-size: 18px;
  font-weight: 300;
  color: var(--softTextColor);
}
.title {
  color: var(--textColor);
}

.link {
  border-bottom: 1px solid crimson;
  width: max-content;
  padding: 10px 0;
  color: var(--textColor);
}

@media screen and(max-width:1280px) {
  .imageContainer {
    display: none;
  }
}
